.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    width: 50px;
    height: auto;
}

.cabecalho__iconeMenu {
    display: block;
    background: url('../../img/icon-menu.svg') no-repeat;
    background-size: contain;
    background-position: center;
    width: 45px;
    height: 25px;
}

.cabecalho__nav {
    display: none;
}