.corpo__ranking {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 2.2rem;
    align-items: center;
}

.ranking__img {
    width: 110px;
    height: auto;
}

.ranking__container {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}

.container__titulo {
    font-size: 40px;
    color: var(--cinza_claro_azulado);
}

.container__subtitulo {
    font-size: 18px;
    font-weight: 800;
    color: var(--cinza_escuro_azulado);
}

.container__resumo {
    font-size: 15px;
    color: var(--cinza_azulado);
    line-height: 1.6rem;
}